# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../../:\Users\AntonB\Desktop\Desktop misc\файлы и папки\education\Hagen Fernuni\Alle Semestern\Semester 2\kursen und modulen\Einf. OOP (01618)\EAs\Kurseinheit 2\EA2_P\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
